
</div>
<div class="container">
	<div class="footer">
		<div class="text-center">
			<hr>
			<button type="button" class="btn btn-link"><a href='/user/addpost'><h1>+ Post</h1></a></button>
		</div>
	</div>
</div>
</body>
