<!DOCTYPE html>
<html>
<head>
	<title>Like a Local: Seattle</title>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
	<link href="/styles.css" rel="stylesheet">	
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="/script.js"></script>	
</head>
<body>
<div class="container">
<div class="page header">
<h1>Like a Local: Seattle</h1>
<button type="button" class="btn btn-link"><a href='/user/signup'>Sign Up</a></button>
<button type="button" class="btn btn-link"><a href='/user/login'>Log In</a></button>
<button type="button" class="btn btn-link"><a href='/user/logout'>Log Out</a></button>
<button type="button" class="btn btn-link"><a href='/user/:id'>My Profile</a></button>

<hr>
</div>
	<% include alerts.ejs %>