<!DOCTYPE html>
<html>
<head>
	<title>Like a Local: Seattle</title>

	<link href='http://fonts.googleapis.com/css?family=Grand+Hotel|Cantarell' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
	<link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.css' rel='stylesheet' />
	<script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.js'></script>
	<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
	<script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
	<script src="/script.js"></script>	

	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
	<link href="/styles.css" rel="stylesheet">	
</head>
<body>
<div class="container">

<div class="page header">
<a href='/'><h1>Like a Local: Seattle</h1></a>
<% if(user && typeof user != undefined) { %>
	<h3>Hello <%= typeof user.first == 'string' ? user.first : '' %>!</h3>
	<button type="button" class="btn btn-link"><a href='/user/logout'>Log Out</a></button>
	<button type="button" class="btn btn-link"><a href='/user/myprofile'>My Profile</a></button>
<% } else { %>
	<button type="button" class="btn btn-link"><a href='/user/signup'>Sign Up</a></button>
	<button type="button" class="btn btn-link"><a href='/user/login'>Log In</a></button>

<!-- You are logged out. -->
<% } %>


<hr>
</div>


<div class="show name">

</div>


	<% include alerts.ejs %>