<% include ../partials/header.ejs %>

<div class="col-md-6">
    <h1>Add a post     <small> to share your Seattle knowledge!</small></h1>
    <hr>
    <form class="form" method="post" action="/user/addpost" enctype="multipart/form-data">
        <h3><input type="text" class="form-control" placeholder="Title" name="title" required></h3>
        <br>
        <h4><select required name="neighborhoodId">
        	<option value="" disabled="disabled" selected="selected">Select a Neighborhood</option>
        <% for (i=0; i < neighborhood.length; i++) { %>
        	<option value="<%= neighborhood[i].id %>"><%= neighborhood[i].name %></option>
        <% } %>
        </select></h4>
        <br>
        <h4><select required name="category">
        	<option value="" disabled="disabled" selected="selected">Select a Category</option>
        	<option value='1'>Eat and Drink</option>
        	<option value='2'>Day Out</option>
        	<option value='3'>Night Out</option>
        	<option value='4'>Secret Gem</option>
        	<option value='5'>Getting Around</option>
        </select></h4>
        <br>
        <h3><input type="text" class="form-control" placeholder="Write your post in 255 characters or less! Short and sweet." name="content" required></h3>
        <br>
        <input type="submit" value="Submit Post" class="btn btn-primary">
    </form>
</div>


<% include ../partials/footer.ejs %>