<% include ../partials/header.ejs %>

<div class="row text-center">
    <h1>Log in!</h1>
    <hr>
    <form class="form" method="post" action="/user/login" enctype="multipart/form-data">
 	<div class="row">
 		<div class="col-xs-2 col-md-4"></div>
    	<div class="col-xs-2 col-md-4 text-center">
        <h3><input type="text" class="form-control smallbox" placeholder="Enter your e-mail" name="email" value=""></h3>
        </div>
        <div class="col-xs-2 col-md-4"></div>
    </div>
    <div class="row">
    	<div class="col-xs-2 col-md-4"></div>
    	<div class="col-xs-2 col-md-4 text-center">
        <h3><input type="password" class="form-control smallbox" placeholder="Enter your password" name="password" value=""></h3>
        </div>
        <div class="col-xs-2 col-md-4"></div>
        <br>
    </div>
        <input type="submit" value="Login" class="btn btn-primary">
    </form>
</div>

<% include ../partials/footer.ejs %>