<% include ../partials/header.ejs %>


<div class="col-md-6">
    <h1>Log in!</h1>
    <hr>
    <form class="form" method="post" action="/user/login" enctype="multipart/form-data">
        <h3><input type="text" class="form-control" placeholder="Enter your e-mail" name="email" value="anil@ga.co"></h3>
        <h3><input type="password" class="form-control" placeholder="Enter your password" name="password" value="anilbridgpal"></h3>
        <br>
        <input type="submit" value="Login" class="btn btn-primary">
    </form>
</div>


<% include ../partials/footer.ejs %>