<% include ../partials/header.ejs %>

<div class="row center-block">
    <div class="col-md-4"></div>
    <div class="col-md-4 text-center">
        <h1>Sign up!</h1>
    </div>
    <div class="col-md-4"></div>
</div>
<hr>
<div class="row center-block">
    <form class="form" method="post" action="/user/signup" enctype="multipart/form-data">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h3><input type="text" class="form-control smallbox" placeholder="Enter your first name" name="first" required></h3>
        </div>
        <div class="col-md-4"></div>
</div>
<div class="row center-block">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h3><input type="text" class="form-control smallbox" placeholder="Enter your e-mail" name="email" required></h3>
        </div>
        <div class="col-md-4"></div>
</div>
<div class="row center-block">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h3><input type="password" class="form-control smallbox" placeholder="Choose a password" name="password" required></h3>
        </div>
        <div class="col-md-4"></div>
</div>
<div class="row center-block">
        <div class="col-md-4"></div>
        <div class="col-md-4 text-center">
            <h3><input type="text" class="form-control smallbox" placeholder="What do you do for a living?" name="job" required></h3>
        </div>
        <div class="col-md-4"></div>
</div>
<div class="row center-block">
        <div class="col-md-4"></div>
        <div class="col-md-4 text-center">
            <h3><textarea class="form-control medbox" placeholder="Describe yourself in ten words or less!" name="about" required></textarea></h3>
            <div class="col-md-4"></div>
        </div>
</div>
<div class="row center-block">
        <div class="col-md-4"></div> 
        <div class="col-md-4 text-center">
            <h5><p>Last but not least - upload a profile picture!</p></h5>
        </div> 
        <div class="col-md-4"></div> 
</div>
<div class="row center-block">
        <div class="col-md-4"></div> 
        <div class="col-md-5 text-center">
            <h5><input type="file" class="text-center" name="picture" required></h5>
        </div> 
        <div class="col-md-4"></div> 
</div>
<div class="row center-block">
        <div class="col-md-4"></div> 
        <div class="col-md-4 text-center">
            <input type="submit" value="Sign up" class="btn btn-primary">
        </div>
        <div class="col-md-4"></div> 
    </form>    
</div>


<% include ../partials/footer.ejs %>